.full{
    background-color: rgba(204, 187, 187, 0.088);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
}

.container{
  
    padding-top: 150px !important;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.para{
    font-size: 1rem;
}
.edit{
    font-size: 1.7rem;
    margin-right: 20px;
    color: blue;
    cursor: pointer;
}
.delete{
    font-size: 1.7rem;
    color: red;
    cursor: pointer;
}
.time{
    font-weight: 600;
    color: #88BB40;
}


.img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}
.link{
    text-decoration: none;
}
.link:hover{
    color: #88BB40;
}

.logoutbox{
    padding: 30px;
  }
  .logoutbox h5{
text-align: center;
  }
  .logoutbtn{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
margin-top: 20px;
  }
.logoutDel{
    background-color: rgba(255, 2, 2, 0.733);
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
}
.logoutDel:hover{
    background-color: red;
}
.logoutChannel{
    cursor: pointer;
    color: #fff;

    background-color: rgba(132, 145, 209, 0.634);
    padding: 10px 20px;
}
.logoutChannel:hover{
    cursor: pointer;
    color: #fff;

    background-color: rgb(132, 145, 209);
    padding: 10px 20px;
}

.descbox{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 10px;
}
@media only screen and (max-width:500px) {

.logoutChannel{
    cursor: pointer;
    color: #fff;
margin-left: 30px;
    background-color: rgba(132, 145, 209, 0.634);
    padding: 10px 20px;
}
}