.container{
    background-color: rgb(195, 239, 167);
    /* position: sticky; */
  overflow-x: hidden;
  padding: 0 40px;
  min-height : 100vh;
  height: 100%;
}

.heading{
    padding-left: 40px;
    padding-top: 40px;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading .user{
background-color: aliceblue;
padding: 15px;
border-radius: 3px;
box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
-webkit-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
-moz-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
}
.heading .user span{
    margin-left: 20px;
}
