.container{
    background-color: rgb(195, 239, 167);
    /* position: sticky; */
  overflow-x: hidden;
  padding: 0 40px;
  min-height : 100vh;
  height: 100%;
}
.profilelable{
    font-size: 1.5rem;
    font-weight: 700;
    color: #0C7EF3;
}
.img{
    width:200px;
  
}
.img img{
  width: 100%;

    object-fit: contain;
}
.contantbox{
    display: flex;
}
.heading{
    padding-left: 40px;
    padding-top: 40px;
    
}
.heading .username{
background-color: aliceblue;
padding: 15px;
border-radius: 3px;
box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
-webkit-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
-moz-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
}
.heading .email{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
    -webkit-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
    -moz-box-shadow: 1px -1px 17px 7px rgba(207,246,221,0.67) inset;
    }
    .btn{
        background-color: #0C7EF3;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        color: #fff;
    }
    .imguploadinput{
        min-width: 300px;
    }
    @media only screen and (max-width:500px){

     
        .heading{
            padding-left: 0px;
            padding-top: 40px;
            
        }
    }