.container{
    margin-top: 50px;
    background-color: red !important;
}

.contentbox{
border-bottom: 4px solid black;
margin: 40px 20px;
background-color: rgb(255, 255, 255);
padding: 20px 20px;
height: 590px;
-webkit-box-shadow: 7px 7px 40px -16px rgba(0,0,0,0.51);
-moz-box-shadow: 7px 7px 40px -16px rgba(0,0,0,0.51);
box-shadow: 7px 7px 40px -16px rgba(0,0,0,0.51);
}
.date{
    color: #0C7EF3;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 15px 5px;
  display: flex;
  justify-content: end;
}

.para{
    font-weight: 500;
    font-size: 1.3rem;
}
.col{
    height: 100%;
  
}
.imgContainer{
   
}
.img{
    height: 300px;
    width: 100%;
    object-fit: cover !important;
    border-radius: 5px;

}
.heading{
    font-size: 1.5rem;
}
.link{
    color: #88BB40;
    text-decoration: none;
}

@media only screen and (max-width:1200px) {
    .contentbox{
        border-bottom: 4px solid black;
        margin: 40px 20px;
     
        padding: 20px 20px;
        height:auto;
        }

}

